

/*****************  this is only to layout abstract color space and Tool UI ****************/
body {
    margin: 0;
    width: 100%;
    font-family: arial;
    font-size: 90%;
    color: #444;
}
.page-head .logo {
    display: inline-block;
    width: 80px;
    height: 36px;
    background: url(assets/images/yui_logo_sprite.png);
    vertical-align: middle;
}
.page-head .logo:hover {
    background-position: 0 -36px;
}
#widget-container{
    margin: 0 0 1em 1em;
    padding: 0;
}
#tabview-controls .yui3-tabview-panel{
    background-color: transparent;
    min-height: 166px;
    padding: 0 0.5em;
    box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.2);    
}
#tabview-controls{
    margin: 0 1em;
}
#tabview-controls a img {
    vertical-align: top;
    margin-right: 0.3em;
}
#tab-code .contents {
    padding: 0.3em;
}
.color-space {
    position: relative;
}
.flow>li{
    display: inline-block;
    vertical-align: top;
    margin: 0.5em;
}
h1 {
    font-size: 145%;
    margin: 1em 0 0.3em 1em;
}
.color-space .label-block, .color-space .rule, .color-space .label-grad, .color-space .label-master {
    font-family: arial;
/*    font-size: 11px;*/
}
.color-space .text {
/*    font-size: 17px;*/
}
.color-space .background {
    position: relative;
    padding: 0.5em 0 0.6em 0.6em;
    margin-bottom: 1em !important;
}
.color-space ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.block {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 0.5em 1.5em 0.5em 0.5em;
    border-width: 3px !important;
    border-radius: 4px;
    margin: 4px;
}
.rule {
    margin-top: 1em;
}
.rule {
    margin-right: 35px;
}
/*just to move labels of gradients so they are readable*/
.color-space .g-master,
.color-space .g-l,
.color-space .g-n,
.color-space .g-h,
.color-space .b-l-g-l,
.color-space .b-l-g-n,
.color-space .b-l-g-h,

.color-space .b-n-g-l,
.color-space .b-n-g-n,
.color-space .b-n-g-h,

.color-space .b-h-g-l,
.color-space .b-h-g-n,
.color-space .b-h-g-h {
    text-indent: -1.5em;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5em;
    overflow-x: visible;
}

.gradient{
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 100%;
}

.label-grad {
    position: absolute;
    top: 0;
    right: 0;
}
.bucket {
    position: absolute;
    right: 19px;
    top: 71px;
    background: url(assets/images/picker_icon.png) no-repeat;
    width: 28px;
    height: 28px;
/*    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);*/
    cursor: pointer;
    opacity: 0.3;    

    transition: opacity 0.2s;
    -moz-transition: opacity 0.2s; /* Firefox 4 */
    -webkit-transition: opacity 0.2s; /* Safari and Chrome */
    -o-transition: opacity 0.2s; /* Opera */
}
.bucket div {
    position: absolute;
    left: 30px;
    top: 2px;
}
.bucket-scheme {
    background: url(assets/images/scheme_icon.png) no-repeat;
}
.bucket:hover {
    opacity:1;         
}
.bucket-background {
    display: none;
}
.bucket-scheme-hidden {
    visibility: hidden;
}
.bucket-selected {
    opacity: 1;
}
/********* skin name controls ***************/
.skin-name-box {
    margin-bottom: 1em;
}
/************* Scheme choosing radios *************/
.scheme-radios {
    list-style: none;
    margin: 0;
    padding: 0;
}
.scheme-radios label {
    cursor: pointer;
}
.scheme-radios .swatches {
    display: inline-block;
    margin: 0;
    padding: 5px;
    background-color: #fff;
}
.scheme-radios .swatches-dark {
    background-color: #000;
}
.scheme-radios .swatches li {
    width: 15px;
    height: 20px;
    display: inline-block;
    margin: 0;
    vertical-align: top;
}
.scheme-radios .swatches li:first-child {
    width: 30px;
}
.rule .label, .block .label-block {
    display: none;
}
.rule, .gradient {

}
.scheme-radios .block {
    display:block;
}
.block .text-normal,
.block .block-highest-text-normal,
.block .block-high-text-normal,
.block .block-normal-text-normal,
.block .block-low-text-normal,
.block .block-page-text-normal
{
    display: block;
}

/* color picker styles*/
.yui3-overlay {
    z-index: 10;
}
.yui3-overlay #picker-outer {
    border: 1px solid #CCCCCC;
    background-color: #eee;
    height: 194px;
    padding: 1.3em 1em;
    position: absolute;
    width: 306px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.yui3-overlay #picker-outer .grip {
    background: url(assets/images/picker_grip.png);
    position: absolute;
    height: 11px;
    left: 16px;
    top: 5px;
    width: 284px;
    cursor: pointer;
}
#picker {
    position: relative;
    height: 180px;
    width: 200px;
}
#hs-dot {
    position: absolute;
    top: 90px;
    left: 0;
    cursor: pointer;
    width: 2px;
    height: 2px;
}
#hs-dot div {
    position: absolute;
    left: -4px;
    top: -9px;
    width: 2px;
    height: 2px;
    cursor: pointer;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.9);
}
#sliderL-line {
    position: absolute;
    top: 90px;
    left: -3px;
    width: 25px;
    height: 0px;
    border: solid 1px;
    border-color: #fff #fff #000 #fff;
    cursor: pointer;
}
#hs {
    position: absolute;
    top: 11px;
    left: 0;
    width: 180px;
    height: 180px;
    cursor: pointer;
}
#sliderL {
    position: absolute;
    top: 11px;
    left: 193px;
    width: 20px;
    height: 180px;
    cursor: pointer;
    margin-left: 10px;
}
.picker-swatch {

    position: absolute;
    left: 243px;
    top: 59px;
    width: 50px;
    height: 50px;
    border: solid 1px #ccc;
    background-color: #BB3E3E;
    text-indent: 1em;
    line-height: 44px;
}
.picker-input {
    margin: 56px 0 0 -17px;
    width: 57px;}
.close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}
/* scheme overlay styles ********************************/
#schemer-outer .yui3-g {
    margin-top: 0.3em;
}
#schemer-outer .schemer-hint {
    color: #9D9D9D;
    font-size: 92%;
}
.yui3-overlay #schemer-outer {
    border: 1px solid #CCCCCC;
    background-color: #eee;
    width: 245px;
    height: 275px;
    padding: 1.3em 1em;
    position: absolute;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.yui3-overlay #schemer-outer .grip {
    background: url(assets/images/picker_grip.png);
    position: absolute;
    height: 11px;
    left: 16px;
    top: 5px;
    width: 225px;
    cursor: pointer;
}
#schemer-outer .arrow-stem {
    display: inline-block;
    background-color: #D6D6D6;
    width: 9px;
    height: 40px;
    margin-bottom: 20px;
}
#schemer-outer .content-arrow {
    text-align: center;
    padding-top: 73px;
}
#schemer-outer .yui3-u-1-2 .content {
    text-align: center;
}
#schemer-outer .arrow-head {
    display: inline-block;
    border-color: transparent transparent transparent #D6D6D6;
    border-style: solid;
    border-width: 40px 0 40px 20px;
    width: 1px;
    height: 1px;
}
.schemer-key .icon-label,
.schemer-swatch .icon-label {
    margin: 5px 0 0 15px;
    width: 28px;
    height: 28px;
    opacity: 0.7;
    background: url(assets/images/picker_icon.png);
}
.schemer-swatch .icon-label{
    margin: 5px 0 0 -15px;
    background: url(assets/images/scheme_icon.png);
}
#schemer-outer .schemer-key,
#schemer-outer .schemer-swatch {
    width: 100%;
    height: 240px;
    border: solid 1px #ccc;
    background-color: #BB3E3E;
}
#schemer-outer .slider-markup {
    position: relative;
    margin-top: 0.4em;
}
#schemer-outer .slider-markup a{
    position: absolute;
    top: 17px;
    left: 112px;
}
#schemer-outer .yui3-slider-rail-cap-left {
    background-color: #D9D9D9;
    border-color: #ccc transparent #fff #ccc;
}
#schemer-outer .yui3-slider-rail-cap-right {
    background-color: #D9D9D9;
    border-color: #ccc #ccc #fff transparent;
}
#schemer-outer .yui3-dial-ring{
    background-color: #ddd;
}
#schemer-outer .yui3-dial-center-button{
    background-color: #CFCFCF;
}
#schemer-outer .yui3-slider-x .yui3-slider-thumb {
    background-color: #D5D5D5;
    border-color: #EFEFEF #B4B4B4 #B3B3B3 #EFEFEF;
    border-radius: 50% 50% 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15), -1px -1px 3px rgba(0, 0, 0, 0.15) inset;
    height: 18px;
    margin-top: 5px;
    width: 12px;
}
/* end scheme overlay styles */
.tab-code-textarea-label {
    display: block;
}
#textarea-style,
#textarea-scheme {
    width: 98%;
    height: 126px;
    z-index: 10;
    padding: 0.3em;
    border: solid 1px rgba(0,0,0, 0.3);
    background-color: rgba(255,255,255, 0.2);

}
.skin-name-box .hint {
    font-size: 80%;
}
.page-head {
    background-color: rgba(100, 100, 100, 0.2);
    color: rgba(100, 100, 100, 0.5);
    font-size: 200%;
    margin-bottom: 0.3em;
    padding: 0.3em 0.5em;
}

.markup {
    margin: 10px 0;
    position: relative;
}
.markup .reset {
    position: absolute;
    top: 20px;
    left: 215px;
    cursor: pointer;
}
.markup .reset:hover {
    text-decoration: underline;
}



/***** scrollview horizontal widget ******************************/
/* To layout horizontal LIs */
#scrollview-content-horiz {
    white-space:nowrap;
}

#scrollview-content-horiz li {
    display:inline-block;
}

/* For IE 6/7 - needs inline block hack (and the background color mentioned above) */
#scrollview-content-horiz li {
    *display:inline;
    *zoom:1;
}

/*****  this is only to layout calendar display on UI tool page ****/
#dial {
}
/*************************  CSS for Overlay and Panel placement in UI of tool *************/
#anchorOverlay {
    margin-top: 0em;
    width: 200px;
    height: 4px;
}
#overlayContent{
    /*opacity: 0; */
}
#anchorPanel {
    margin-top: 0px;
    height: 4px;
    width: 200px;
}
#panelContent p{
    margin: 0;
}
#node-menunav-split {
}
